* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
article {
    text-align: left;
    border-top: .1em solid #eee;
    margin: 2em 0;
}

h5 {
  margin-top: 1em;
  line-height: 2em;
}

p {
  margin: .5em;
  line-height: 1.5em;        
}
.scene {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    perspective: 400px;
}

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s;
}

input[type="radio"] {
    display: none;
}

#front:checked ~ .scene > div {
    transform: translateZ(-100px) rotateY( 0deg);
}

#right:checked ~ .scene > div {
    transform: translateZ(-100px) rotateY( -90deg);
}

#back:checked ~ .scene > div {
    transform: translateZ(-100px) rotateY(-180deg);
}

#left:checked ~ .scene > div {
    transform: translateZ(-100px) rotateY( 90deg);
}

#top:checked ~ .scene > div {
    transform: translateZ(-100px) rotateX( -90deg);
}

#bottom:checked ~ .scene > div {
    transform: translateZ(-100px) rotateX( 90deg);
}

.cube > div {
    position: absolute;
    width: 200px;
    height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    overflow: hidden;
    box-sizing: content-box;
}

.cube > div table {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    border: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.8) inset;
}

.cube > div table td {
    max-height: 100px;
    min-height: 100px;
    max-width: 100px;
    min-width: 100px;
    width: 100px;
    height: 100px;
    font-size: 20px;
    vertical-align: middle;
    background: rgba(232, 65, 24, 0.7);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    perspective: 200px;
}

.cube > div table td.active {
    background: rgba(76, 209, 55, 0.7);
}

.cube > div:nth-child(1) {
    transform: rotateY( 0deg) translateZ(100px);
}

.cube > div:nth-child(2) {
    transform: rotateY( 90deg) translateZ(100px);
}

.cube > div:nth-child(3) {
    transform: rotateY(180deg) translateZ(100px);
}

.cube > div:nth-child(4){
    transform: rotateY(-90deg) translateZ(100px);
}

.cube > div:nth-child(5) {
    transform: rotateX( 90deg) translateZ(100px);
}

.cube > div:nth-child(6) {
    transform: rotateX(-90deg) translateZ(100px);
}

label {
    padding: 1em 2em;
    background: #fafafa;
    border: .1em solid #eee;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
}

.graphic {
    width: 1000px;
    text-align: center;
    background: #fafafa;
    padding: 2em;
    margin: 0 auto;
}

.graphic > nav {
    display: block;
    margin-bottom: 2em;
}
.graphic > header {
    display: flex;
    margin-bottom: 2em;
    background: #353b48;
    padding: 1em;
}
.graphic > header input {
    display: block;
    line-height: 2em;
    font-size: 1.5em;
    border: none;
    padding: 0 1em;
    text-align: center;
    color: #2f3640;
    flex: 1;
    margin-right: 2em;
    flex-basis: 750px;
}
.graphic > header button {
    display: block;
    line-height: 2em;
    flex: 1;
    background: #f5f6fa;
    flex-basis: 250px;
    font-size: 1.5em;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    color: #2f3640;
}
